html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

* {
  box-sizing: border-box;
}

body {
  overflow-y: visible;
  position: relative;
  height: unset;
  font-family: "Euclid Circular A", "Poppins";
  color: #222222;
  text-align: center;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
}

.container {
  width: 400%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  background: #f7f7f7;
}

img {
  width: 170px;
  height: 170px;
  object-fit: contain;
}

.banner h2,
.footer h2 {
  margin: 20px 0;
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0 24px 0 16px;
  background: #ffffff;
  box-shadow: 0 0 20px rgb(0 0 0 / 8%);
}

nav a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-weight: 600;
}

nav img {
  width: 32px;
  height: 32px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 80px;
}

h2 {
  margin: 50px 0 20px;
}

p {
  opacity: 0.66;
  font-size: 16px;
}

.banner {
  flex-direction: row;
  text-align: left;
  gap: 30px;
  background: url("./bg.jpeg");
  background-size: cover;
  background-position: center;
  color: #f7f7f7;
}

.banner-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(57 53 86 / 0%), rgb(57 53 86 / 100%) 90%);
}

.banner h2 {
  font-size: 40px;
}

.banner h3 {
  margin: 0;
  opacity: 0.7;
}

.footer {
  background: #ffffff;
}

.panel {
  width: 100%;
  height: 100%;
}

.container .panel:nth-child(odd) {
  background: #f1f0f7;
}

form {
  padding: 0;
  margin: 0;
  display: grid;
  gap: 10px;
  padding-top: 20px;
}

input,
textarea,
button {
  font-family: inherit;
  border-radius: 6px;
  border: 0;
  background: #f1f0f7;
  padding: 16px;
  width: 340px;
  font-size: 16px;
}

button {
  background: #7b66fd;
  color: #f7f7f7;
  font-weight: 600;
  letter-spacing: 2px;
}
